
@import "variables";

@-webkit-keyframes wiggle {

    0%      { -webkit-transform:rotate(4deg); }
    20%     { -webkit-transform:rotate(-4deg); }
    40%     { -webkit-transform:rotate(4deg); }
    60%     { -webkit-transform:rotate(-4deg); }
    80%     { -webkit-transform:rotate(4deg); }
    100%    { -webkit-transform:rotate(-4deg); }
}


#splash {
    
    margin-bottom: $header-height;
    min-height: $splash-height;
    max-height: $splash-height;
    width: 100%;
    position: relative;
    background-color: $friend-blue;
    background-image: url("../images/logos/logo@2x.png");
    background-position: center 40%;
    background-size: 34%;
    background-repeat: no-repeat;

    .tagline {
        
        font-size: .9em;
        text-align: center;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: .4em;
        padding-top: 360px;
    }

    .sprite {

        position: absolute;
        top: 0;
        left: 0;
 
        &:hover {

            -webkit-animation: wiggle 0.5s;
        }
        
        &.sm {

            height: 60px;
            width: 60px;
            background-size: 60px 60px;
            margin-top: -30px;
            margin-left: -30px;
        }

        &.md {

            height: 74px;
            width: 74px;
            background-size: 74px 74px;
            margin-top: -37px;
            margin-left: -37px;
        }

        &.lg {

            height: 96px;
            width: 96px;
            background-size: 96px 96px;
            margin-top: -48px;
            margin-left: -48px;
        }

        // &.s1 {

        //     top: 10%;
        //     left: 5%;
        // }
        
        &.venusaur {

            background-image: url("../images/sprites/3.png");

            &:nth-child(1) {

                top: 5%;
                left: 2%;
                transform: rotate(24deg);
            }

            &:nth-child(2) {

                top: 70%;
                left: 18%;
                transform: rotate(-36deg);
            }

            &:nth-child(3) {

                top: 90%;
                left: 50%;
                transform: rotate(10deg);
            }

            &:nth-child(4) {

                top: 12%;
                left: 75%;
                transform: rotate(40deg);
            }

            &:nth-child(5) {

                top: 85%;
                left: 90%;
                transform: rotate(60deg);
            }
        }

        &.charizard {

            background-image: url("../images/sprites/6.png");

            &:nth-child(6) {

                top: 45%;
                left: 18%;
                transform: rotate(-30deg);
            }

            &:nth-child(7) {

                top: 15%;
                left: 35%;
                transform: rotate(-30deg);
            }

            &:nth-child(8) {

                top: 80%;
                left: 72%;
                transform: rotate(170deg);
            }

            &:nth-child(9) {

                top: 40%;
                left: 80%;
                transform: rotate(-10deg);
            }
        }

        &.blastoise {

            background-image: url("../images/sprites/9.png");
        }

        &.meganium {

            background-image: url("../images/sprites/154.png");
        }

        &.typhlosion {

            background-image: url("../images/sprites/157.png");
        }

        &.feraligator {

            background-image: url("../images/sprites/160.png");
        }
    }
}