

/*
 * Typography
 */
$font-size-base: 16px; //bootstrap override


/*
 *  Colors
 */

$heading-grey: #606A78;
$heading-grey-light: #B5B9C5;

$black            : #293251;
$navy-bean        : #272F50;
$friend-blue      : #DBF8F9;
$best-friend-blue : #BFEDED;
$text-blue        : #A6E0E3;
$rose             : #FFDBDB;
$dark-rose        : #E99495;
$money            : #8BE1D9;
$dark-money       : #33b5be;
$tapfer           : #D9DDE4;


/*
 * Other Shit
 */
$splash-height: 485px;
$header-height: 60px;